h1 {
  position: absolute;
  width: 677px;
  height: 93px;
  left: 381px;
  top: 99px;

  font-family: "Caudex";
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 5px;
  line-height: 93px;
  text-align: center;
  padding-bottom: 200px;
}

h3 {
  position: absolute;
  width: 482px;
  height: 53px;
  left: 478px;
  top: 192px;

  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 53px;
}

.main-pic {
  position: absolute;
  width: 1468px;

  left: -15px;
  top: 400px;
}

h4 {
  position: absolute;
  width: 500px;
  height: 26px;
  left: 521px;
  top: 960px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  color: #b0665d;
}

p {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  color: #000000;
}

.p1 {
  position: absolute;
  width: 919px;
  height: 78px;
  left: 259px;
  top: 1075px;
}

.p2 {
  position: absolute;
  width: 918px;
  height: 104px;
  left: 259px;
  top: 1179px;
}

.p3 {
  position: absolute;
  width: 784px;
  height: 78px;
  left: 259px;
  top: 1309px;
}
